<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
    <name>Show Filtered Content</name>
    <description>Shows a list of external resources that has been blocked (as in "Content Blocker") in the current tab</description>
    <author href="http://hcoder.org/">Esteban Manchado Velázquez</author>
    <access origin="https://auth.opera.com" />
    <access origin="https://link.api.opera.com" />
</widget>
